.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.btn {
  text-decoration: none;
  background: #007bff;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  height: 50px;
}
